*{

  margin: 0px;
  padding: 0px;
  font-family: candara;
  transition: 1s;
}

body{

  margin: 100px;
}

.log{

  width: 500px;
  margin: auto;
  padding: 50px;

}

.log input{

  display: block;
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 3px;

}

.log input[type='submit'] {
  cursor: pointer;
}