*{

	margin: 0px;
	padding: 0px;
	font-family: candara;

}


.box{
	width: 80%;
	margin: auto;
	text-align: right;
	position: relative;
}

.box a{

	background-color: #333;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
}

.box .sign_in{
	width: 500px;
	height: 200px;
	border: 1px solid #ccc;
	padding: 20px;
	box-shadow: 0px 0px 5px #ccc;
	position: absolute;
	top: 70px;
	right: 0px;
	display: none;
}




